<!--投稿された投稿の一覧ページ-->
<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @sneaker %>
    <div class='col-md-12 offset-md-1'>
      <h2>Sneakers</h2>
      <%= render 'index', sneakers: @sneakers %>
  </div>
</div>