<div class='container-fluid'>
    <div class='col-xl-12'>
      <h1 class="color display-2">Follower</h1>
<% if @users.exists? %>
  <%= render 'user/users/index', users: @users %>
<% else %>
  <p class="center display-6">ユーザーはいません</p>
<% end %>