<!--トップページ-->
<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>
<p id="notice"></p>
  <div class="container">
      <div class = "row" >
          <div class = "top">
              <%= image_tag 'Home4.png' %>
          </div>
      </div>
  </div>