<!--トップページ-->
<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>
<p id="notice"></p>
  <div class="container">
      <div class = "row" >
          <div class = "mx-auto">
              <%= image_tag 'Home3.png' %>
              </div>
          </div>
      </div>
  </div>