/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 h1{
  text-align: center;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: image-url("sneaker14.jpg");
  background-size: cover;
}

footer {
  top: 100vh;
  width: 100%;
  position: sticky;  //stickyを使うことによってフッターを画面最下部に固定(コンテンツに被らない)
  color: #FFFFFF;
  background-color: #708090;
  font-family: HiraMinProN-W6;
}

.color {
   color: #FFFFFF; 
   font-family: HiraMinProN-W6;
}

.center {
    color: #FFFFFF; 
   font-family: HiraMinProN-W6;
   text-align:center;
}