<footer>
    <div class='container mt-5'>
      <div class='row'>
        <div class='mx-auto'>
        <p>©Copyright 2023 Sneaker-Pride ALL Rights reserved.</p>
        </div>
      </div>
    </div>
</footer>